<div class="m-4 p-4">
    <h4>欢迎你 <%= sendData.nickname %></h4>
    <p>用户名: <%= sendData.username %></p>
    <p>创建时间: <%= sendData.login %></p>
    <p>浏览器量: <%= sendData.view %> </p>
    <button class="btn btn-primary">退出登录</button>
</div>